<!-- Editable table -->
<mat-card>
  <mat-card-title>
    {{ tableName }}
    <span class="table-action float-right mb-3 mr-2">
      <button *ngIf="vms && vms.length > 0" color="primary" (click)="save()" mat-fab>
        <mat-icon aria-hidden="false" aria-label="Save">save</mat-icon>
      </button>
    </span>
  </mat-card-title>
  <!-- <h3 class="card-header font-weight-bold text-capitalize py-4">{{ tableName }}</h3> -->
  <mat-card-content>
    <div class="table-editable">
      <table class="table text-center vm-list-table">
        <tr>
          <th></th>
          <th>Hostname</th>
          <th>IP Address</th>
          <th>Owner</th>
          <th>Status</th>
          <th class="text-left">Description</th>
          <th *ngIf="editable">
            <button class="btn-add-server" (click)="add()" mat-raised-button>
              <mat-icon aria-hidden="false" aria-label="Add">add_box</mat-icon> Add Server
            </button>
          </th>
        </tr>
        <tr
          *ngFor="let vm of vms; trackBy: trackByIds"
          [ngClass]="{
            'server-used': vm.status.toUpperCase().includes('USED'),
            'server-unused': vm.status.toUpperCase().includes('UNUSED')
          }"
        >
          <td>
            <a href="http://{{ vm.hostname }}" target="_blank">
              <mat-icon aria-hidden="false" aria-label="Server">storage</mat-icon>
            </a>
          </td>
          <td>
            <span
              data-placeholder="Hostname ..."
              [contentEditable]="editable"
              [innerHTML]="vm.hostname"
              (blur)="updateList(vm.id, 'hostname', $event)"
            ></span>
          </td>
          <td>
            <span
              data-placeholder="IP ..."
              [contentEditable]="editable"
              [innerHTML]="vm.ip"
              (blur)="updateList(vm.id, 'ip', $event)"
            ></span>
          </td>
          <td>
            <span
              contentEditable="true"
              data-placeholder="Owner name ..."
              [innerHTML]="vm.owner"
              (blur)="updateList(vm.id, 'owner', $event)"
            ></span>
          </td>
          <td>
            <mat-form-field class="text-center">
              <mat-select [(value)]="vm.status" (selectionChange)="updateList(vm.id, 'status', $event)">
                <mat-option *ngFor="let status of statuses" [value]="status.value">
                  {{ status.label }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td class="text-left">
            <span
              contentEditable="true"
              data-placeholder="Description ..."
              [innerHTML]="vm.description"
              (blur)="updateList(vm.id, 'description', $event)"
            ></span>
          </td>
          <td *ngIf="editable">
            <button class="btn-delete-server" color="error" (click)="remove(vm.id)" mat-icon-button>
              <mat-icon aria-hidden="false" aria-label="Delete">delete</mat-icon>
            </button>
          </td>
        </tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>
<!-- Editable table -->
