<!-- Editable table -->
<div class="card">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">{{ tableName }}</h3>
  <div class="card-body">
    <div id="table" class="table-editable">
      <span class="table-add float-right mb-3 mr-2">
        <a *ngIf="editable" class="text-success" (click)="add()">
          <mdb-icon fas icon="plus" size="2x"></mdb-icon>
        </a>
        <a class="text-sitecore" (click)="save()">
          <mdb-icon fas icon="save" size="2x"></mdb-icon>
        </a>
      </span>
      <table class="table table-bordered table-responsive-md table-striped text-center vm-list-table">
        <tr>
          <th class="text-center"></th>
          <th class="text-center">Hostname</th>
          <th class="text-center">IP Address</th>
          <th class="text-center">Owner</th>
          <th class="text-center">Status</th>
          <th class="text-left">Description</th>
          <th *ngIf="editable" class="text-center">Remove</th>
        </tr>
        <tr *ngFor="let vm of vms; trackBy: vm?.id">
          <td>
            <a href="http://{{ vm.hostname }}" target="_blank">
              <mdb-icon fas icon="server"></mdb-icon>
            </a>
          </td>
          <td>
            <span
              [contentEditable]="editable"
              data-placeholder="Hostname ..."
              (blur)="updateList(vm.id, 'hostname', $event)"
              [innerHTML]="vm.hostname"
            ></span>
          </td>
          <td>
            <span
              [contentEditable]="editable"
              data-placeholder="IP ..."
              (blur)="updateList(vm.id, 'ip', $event)"
              [innerHTML]="vm.ip"
            ></span>
          </td>
          <td>
            <span
              contentEditable="true"
              data-placeholder="Owner name ..."
              (blur)="updateList(vm.id, 'owner', $event)"
              [innerHTML]="vm.owner"
            ></span>
          </td>
          <td>
            <span
              [ngClass]="{
                badge: vm.status !== '-',
                'badge-success': vm.status === 'FREE',
                'badge-danger': vm.status === 'USED'
              }"
              contentEditable="true"
              (blur)="updateList(vm.id, 'status', $event)"
              [innerHTML]="vm.status"
            ></span>
          </td>
          <td class="text-left">
            <span
              contentEditable="true"
              data-placeholder="Description ..."
              (blur)="updateList(vm.id, 'description', $event)"
              [innerHTML]="vm.description"
            ></span>
          </td>
          <td *ngIf="editable">
            <span class="table-remove">
              <button type="button" mdbBtn color="danger" rounded="true" size="sm" class="my-0" (click)="remove(vm.id)">
                <mdb-icon far icon="trash-alt"></mdb-icon>
              </button>
            </span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<!-- Editable table -->
