.mat-card-title {
    line-height: 62px;
}

.vm-list-table {
    th {
        vertical-align: middle;

        .btn-add-server {
            background: lightgreen;
        }
    }
    .server-used {
        border-left: 5px solid orangered;
    }
    .server-unused {
        border-left: 5px solid lightgreen;
    }
    span[contenteditable] {
        display: inline-block;
        &:empty::before {
            display: inline-block;
            color: grey;
            opacity: 0.7;
            content: attr(data-placeholder);
        }
        &:empty:focus::before {
            content: attr(data-focused-advice);
        }
    }
    span[contenteditable='false'] {
        cursor: default;
    }
    .btn-delete-server {
        margin: auto;
    }
}

@media all and (min-width: 768px) {
    tr {
        transition: border-color 0.5s ease;

        td {
            vertical-align: middle !important;
        }
        span {
            &:not([class]) {
                padding: 1rem 1rem;
            }
        }
    }
}
