.table-add {
    a + a {
        margin-left: 15px;
    }
}

.vm-list-table {
    span[contenteditable] {
        display: inline-block;
        &:empty::before {
            display: inline-block;
            color: grey;
            opacity: 0.7;
            content: attr(data-placeholder);
        }
        &:empty:focus::before {
            content: attr(data-focused-advice);
        }
    }
    span[contenteditable='false'] {
        cursor: default;
    }
}

@media all and (min-width: 768px) {
    tr {
        td {
            vertical-align: middle !important;
        }
        span {
            &:not([class]) {
                padding: 1rem 1rem;
            }
        }
    }
}
