.mat-tab-nav-bar {
    border-bottom: none;
}

main {
    padding: 1rem;

    a {
        font-weight: bold;
    }
}

.spinner-container {
    padding: 5rem;
    text-align: center;

    .mat-spinner {
        margin: auto;
    }
}
