/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

a {
    color: inherit;

    &:hover {
        color: inherit;
        text-decoration: none;
    }
}

.text-sitecore {
    color: #f44336 !important;
}

.spinner-container {
    padding: 5rem;
    text-align: center;

    .mat-spinner {
        margin: auto;
    }
}
